@tailwind components;

@layer components {
    .HomeContainer {
        @apply flex flex-col mt-20 min-h-screen;
        background: var(--light-gray);
        padding: 0 16px;
    }

    .Home {
        @apply flex-grow overflow-y-auto pb-24;
        background: var(--light-gray);
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
}