@tailwind components;

@layer components {
    .HomeContainer {
        @apply flex flex-col mt-20 min-h-screen px-4;
        background: var(--light-gray);
    }

    .Home {
        @apply flex-grow overflow-y-auto pb-24 space-y-4;
        background: var(--light-gray);
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
    }
}